@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrainsMono', serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #5865fa, #4719a3);
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

/* Message Box Styling */
.message {
    padding: 20px;
    margin-top: 50px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Button Styling */
.button {
    padding: 10px 20px;
    background-color: #5865fa;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .message {
        padding: 15px;
        font-size: 1rem;
    }

    .button {
        padding: 12px 25px;
    }
}
